<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Histórico de Movimentações</title>
  <link rel="stylesheet" href="/css/listarMovimentacoes.css">
</head>
<body>
    <%- include('../partials/header', { usuario: usuario }) %>

<div class="pagina-lista">
  <h1>Histórico de Movimentações</h1>

  <table border="1" cellpadding="8">
    <thead>
      <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Data</th>
        <th>Observação</th>
        
        <th>Preço Custo</th>
        <th>Preço Venda</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% movimentacoes.forEach(m => { %>
        <tr>
  <td data-label="ID"><%= m.id %></td>
  <td data-label="Produto"><%= m.nome_produto %></td>
  <td data-label="Tipo"><%= m.tipo %></td>
  <td data-label="Quantidade"><%= m.quantidade %></td>
  <td data-label="Data"><%= m.data.toLocaleString() %></td>
  <td data-label="Observação"><%= m.observacao %></td>
  <td data-label="Preço Custo"><%= Number(m.preco_custo).toFixed(2) %></td>
  <td data-label="Preço Venda"><%= Number(m.preco_venda).toFixed(2) %></td>
  <td data-label="Ações">
    <a href="/movimentacoes/editarMov/<%= m.id %>">Editar</a> |
    <form action="/movimentacoes/excluirMov/<%= m.id %>" method="POST" style="display:inline;">
      <button type="submit" onclick="return confirm('Quer mesmo deletar?')">Excluir</button>
    </form>
  </td>
</tr>

        
      <% }) %>
    </tbody>
  </table>

  <a href="/movimentacoes/adicionarMovimentacoes">Registrar nova movimentação</a>
  <br/>
  <a href="/movimentacoes/relatorio">Relatorio de Movimentação</a>
  <a href="/produtos">Voltar aos produtos</a>
</div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>
