<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Editar Produto</title>
  <link rel="stylesheet" href="/css/formEditar.css" />
</head>
<body>
  <h1>Editar Produto</h1>
  <form action="/produtos/editar/<%= produto.id %>" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" value="<%= produto.nome %>" required /><br/>

    <label>Descrição:</label>
    <textarea name="descricao"><%= produto.descricao %></textarea><br/>

    <label>Preço de custo:</label>
    <input type="number" step="0.01" name="preco_custo" value="<%= produto.preco_custo %>" /><br/>

    <label>Preço de venda:</label>
    <input type="number" step="0.01" name="preco_venda" value="<%= produto.preco_venda %>" required /><br/>

    <label>Quantidade:</label>
    <input type="number" name="quantidade" value="<%= produto.quantidade %>" /><br/>

    <button type="submit">Atualizar</button>
  </form>
  <a href="/produtos">Voltar</a>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
